/* style.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

header {
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

nav button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

nav button:hover {
  background-color: #45a049;
}

#new-task-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#new-task-btn:hover {
  background-color: #45a049;
}

#task-container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 10px;
}

.task-card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  width: calc(20% - 20px);
  box-sizing: border-box;
  position: relative;
}

.task-card h2 {
  margin-top: 0;
  max-height: 50px; /* Ajuste conforme necessário */
  overflow: hidden;
}

.task-card p {
  margin-bottom: 0;
  max-height: 100px; /* Ajuste conforme necessário */
  overflow: hidden;
}

.task-card .edit-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  fill: #333;
}

#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

#modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#button-container {
  display: flex;
  gap: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
